# Database
DB_HOST=localhost
DB_NAME=ecommerce
DB_USER=postgres
DB_PASSWORD=mydevpassword123

# JWT
JWT_SECRET=a997cb985e865452f3c6904e55efe973cc9008e1fbae9e535a70cf4382f20824
JWT_EXPIRATION_MS=86400000

# Kafka
KAFKA_BOOTSTRAP_SERVERS=kafka:9092

# Stripe
STRIPE_SECRET_KEY=sk_test_your_stripe_secret_key_here
STRIPE_WEBHOOK_SECRET=whsec_your_stripe_webhook_secret_here
STRIPE_CURRENCY=usd

# SendGrid
SENDGRID_API_KEY=SG.your_sendgrid_api_key_here
SENDGRID_FROM_EMAIL=your-email@example.com
SENDGRID_FROM_NAME=Scalable E-Commerce Platform

# Cart
CART_EXPIRY_MINUTES=1440
CART_CLEANUP_CRON=0 0 * * * *
